In [43]:
from bs4 import BeautifulSoup
from time import sleep
import pandas as pd
import numpy as np
import psycopg2

In [44]:
todayScores = pd.DataFrame(columns=['MatchID','Date','TeamID','Team','Moneyline','HDP','Map1','Map2','Map3'])
pdGame = pd.DataFrame([[1, 0, 0, 1, 1, 0, 0, 0, 0],
                               [1, 0, 0, 1, 1, 0, 0, 0, 0]],
                              columns=['MatchID','Date','TeamID','Team','Moneyline','HDP','Map1','Map2','Map3'])
todayScores = todayScores.append(pdGame)
print(todayScores)

  MatchID Date TeamID Team Moneyline HDP Map1 Map2 Map3
0       1    0      0    1         1   0    0    0    0
1       1    0      0    1         1   0    0    0    0

In [45]:
# connect to postgresql
conn = psycopg2.connect(dbname="BetOnline", user="Admin1", password="1407athNBC!", host = 'betonlinedb.cfitahvq3xgc.us-west-1.rds.amazonaws.com')
cur = conn.cursor()

In [46]:
# view table
cur.execute('SELECT * FROM "BetSport"')
row = cur.fetchone()
while row is not None:
            print(row)
            row = cur.fetchone()

In [47]:
# add into table
# create sql query
query = 'INSERT INTO "BetSport" ("SportID","SportName","LookupID_S") VALUES '

newDF = [1,"test",0]

#entry = pdGame.head(1).values.tolist()[0]
#print(tuple(entry))

print(query + str(tuple(newDF)))

query2 = query + str(tuple(newDF))

try:
    cur.execute(query2)
except:
    pass
conn.commit()

INSERT INTO "BetSport" ("SportID","SportName","LookupID_S") VALUES (1, 'test', 0)

In [48]:
# view table
cur.execute('SELECT * FROM "BetSport"')
row = cur.fetchone()
while row is not None:
            print(row)
            row = cur.fetchone()

(1, 'test', '0')

In [49]:
# view table
cur.execute('DELETE FROM "BetSport" where "SportID" = 1')
conn.commit()

In [50]:
cur.close()
conn.close()